<style>
  body {
    width: 100%;
    text-align: center;
    font-size: 5em;
    font-family: roboto;
  }

  .option {
    margin: 1em;
  }

  button {
    font-size: 1em;
    font-family: roboto;
    background-color: white;
    border: none;
    box-shadow: 0 0.1em 0.1em silver;
    border-radius: 10px;
    padding: 0.5em;
  }

  button:active {
    outline: none;
    font-size: 1em;
    font-family: roboto;
    background-color: white;
    border: none;
    box-shadow: 0 1px 1px silver;
    border-radius: 10px;
    padding: 0.5em;
    margin-top: 0.1em;
  }
</style>

<div class="options">
  <h1 style="font-size: 10em'">Turtle Lights</h1>
  <p style="font-size: 7em'">The light is currently <%= @light_status %></p>

  <form action="/lights" method="post">
    <div class="option">
      <label for="input-on">ON</label>
      <input id="input-on" type="radio" name="status" value="on" />
    </div>
    <div class="option">
      <label for="input-off">OFF</label>
      <input id="input-off" type="radio" name="status" value="off" />
    </div>

    <button type="submit">Submit</button>
  </form>
</div>