<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Zojirushi</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="/js/script.js"></script>
</head>
<body>
  <div class="switch">
    <img class="zojirushi" src="/img/zojirushi.png" alt="">
    <% if @cook_status == 'on' %>
      <div class="inactive light keep-warm"></div>
      <p>Keep Warm</p>
      <div class="light cooking"></div>
      <p>Cooking</p>
    <% else %>
      <div class="light keep-warm"></div>
      <p>Keep Warm</p>
      <div class="inactive light cooking"></div>
      <p>Cooking</p>
    <% end %>
  </div>

  <form class="options" action="/lights" method="post">
    <input id="input-on" type="radio" name="status" value="on" />
    <label for="input-on">On</label>

    <input id="input-off" type="radio" name="status" value="off" />
    <label for="input-off">Off</label>

    <button id="submit" type="submit">Send</button>
  </form>

  <div class="copy">
    <p>&copy; Joseph Kim</p>
  </div>
</body>
</html>
